body {
    color: beige;
    background-color: $bg-body;
}

.btn {
    padding: 0;
}

#saveBtn,
#gotItBtn {
    padding: 5px;
}

.howToBtn {
    background-color: $bg-howToBtn;
    color: $bg-body;
}

.enterPlayersBtn {
    background-color: $bg-enterPlayersBtn;
}

.field8Btn,
.field16Btn,
.field36Btn {
    width: 31.3%;
    cursor: pointer;
}

.field8Btn,
.field16Btn,
.field36Btn,
.startBtn,
.stopBtn,
.enterPlayersBtn,
.howToBtn {
    @extend %vhalign;
    @extend %DosisFont;
    border: 2px solid lightgreen;
    border-radius: 15px;
    height: 32%;
    margin: {
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
    }
}

.startBtn,
.stopBtn,
.enterPlayersBtn,
.howToBtn {
    width: 48%;
}

.startBtn {
    background-color: $bg-startBtn;
}

.stopBtn {
    background-color: $bg-stopBtn;
}

.btnlocked {
    opacity: 0.3;
}

.selectedSize {
    background-color: darkred;
}

.bg-fieldSizeBtn {
    background-color: #666699;
}

.namePlayer1,
.namePlayer2 {}

.scorePlayer1Field,
.scorePlayer2Field {
    text-align: center;
    width: 20px;
}

.checkmarkDiv {}

.playerStats1,
.playerStats2 {
    width: 50%;
    padding: 5px;
    background-color: grey;
}

.playerStats1 {
    border-right: 1px solid #34393F;
}

.playerStats2 {
    border-left: 1px solid #34393F;
}

.playStatsWrapper {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.checkmarkPlayer1,
.checkmarkPlayer1Big {
    color: lightgreen;
}

.checkmarkPlayer2,
.checkmarkPlayer2Big {
    color: #0066cc;
}

.checkmarkPlayer1,
.checkmarkPlayer2 {
    font-size: 2.4vh;
    font-weight: 400;
}

.checkmarkPlayer1Big,
.checkmarkPlayer2Big {
    font-size: 4em;
    font-weight: 300;
    opacity: 0.0;
    animation: bubble 1s forwards cubic-bezier(0, 0, 0.58, 1);
}

@keyframes bubble {
    0% {
        opacity: 0.0;
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        opacity: 1.0;
        transform: scale(1.0);
    }
}

.cardshell {
    position: relative;
    width: 31.7%;
    height: 31.7%;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: transform 0.6s ease-in-out;
    cursor: pointer;
}

.dummycardshell {
    position: relative;
    width: 31.7%;
    height: 31.7%;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
}

.front {
    background-image: url(../images/cards/frontface.jpg);
    background-size: cover; //background-color: orange;
    border: 2px solid lightgreen;
    border-radius: 10px;
}

.back {
    transform: rotateY(180deg) translateZ(1px);
    border: 2px solid lightgreen;
    border-radius: 10px;
}

.showMe {
    transform: rotateY(180deg);
}

li {
    width: 80vw;
    padding-right: 25px;
}

.row {
    margin-right: -20px;
    margin-left: -20px;
}

#howToModal,
#enterPlayersModal {
    transform: translateZ(110px);
}

.modal-body {
    padding-bottom: 0;
    margin-bottom: 0;
}

.formWrapper {
    width: 80%;
}

.popup {
    position: absolute;
    width: 250px;
    height: 150px;
    border: 2px solid lightblue;
    border-radius: 15px;
}

.popupMatch {
    background-color: darkgreen;
    opacity: 0.0;
    z-index: -1;
    transform: translateZ(-10px);
    transition: opacity 1s ease-in-out;
}

.popupNoMatch {
    background-color: darkred;
    opacity: 0.0;
    z-index: -1;
    transform: translateZ(-10px);
    transition: opacity 1s ease-in-out;
}

.popupNext {
    color: #34393F;
    background-color: lightblue;
    border: 2px solid darkgrey;
    opacity: 0.0;
    z-index: -1;
    transform: translateZ(-10px);
    transition: opacity 1s ease-in-out;
}

.popupGameCompleted {
    background-color: grey;
    opacity: 0.0;
    z-index: -1;
    transform: translateZ(-10px);
    transition: opacity 1s ease-in-out;
    text-align: center;
}

@for $i from 1 through 18 {
    .card#{$i} {
        background-image: url(../images/cards/card#{$i}.jpg);
        background-size: cover;
    }
}

@media screen and (orientation:portrait) {

    .outershell {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 98vw;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .banner {
        width: 95%;
        margin: {
            top: 4px;
        }
    }

    .headline {
        width: 96%;
        font: {
            size: 4.9vh;
            family: "Dosis", sans-serif;
        }
        margin: {
            top: 2px;
            bottom: 2px;
            left: 0px;
            right: 0px;
        }
        text-align: center;
    }

    .controlPanelRowHeight {
        margin: {
            top: 6px;
            bottom: 4px;
        }
        height: 21.0vh;
        width: 95%;
    }

    .controlPanelWrapper {
        width: 96%;
    }

    .buttonfield {
        width: 100%;
        height: 16.5vh;
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        flex-wrap: wrap;
        padding: {
            top: 8px;
            bottom: 8px;
            left: 5px;
            right: 5px;
        }
    }

    .playStatsWrapper {
        margin: {
            top: 4px;
            bottom: 0px;
        }
    }

    .playerStats1,
    .playerStats2 {
        height: 4.5vh;
    }

    .playfieldRowHeight {
        height: 92vw;
    }

    .fieldWrapper {
        margin: {
            top: 2px;
            bottom: 2px;
        }
        width: 88.5vw;
        height: 88.5vw;
    }

    .playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 86.5vw;
        height: 86.5vw;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

    .DosisFont,
    .playerStatsFont,
    .DosisFontHowTo {
        font-size: 2.4vh;
    }
}

@media screen and (orientation:landscape) {

    .outershell {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 98vw;
        height: 98vh;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .banner {
        width: 95%;
        margin: {
            top: 4px;
        }
    }

    .headline {
        width: 60%;
        font: {
            size: 4.9vw;
            family: "Dosis", sans-serif;
        }
        margin: {
            top: 2px;
            bottom: 2px;
            left: 0px;
            right: 0px;
        }
        text-align: center;
    }

    .controlPanelRowHeight {
        width: 38vw;
        height: 78vh;
    }

    .controlPanelWrapper {
        margin: {
            bottom: 2px;
        }
        width: 100%;
    }
    
    .buttonfield {
        padding: {
            top: 8px;
            left: 5px;
            right: 5px;
            bottom: 8px;
        }
        width: 100%;
        height: 17.3vw;
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        flex-wrap: wrap;
    }

    .playStatsWrapper {
        margin: {
            top: 5px;
            bottom: 2px;
        }
    }

    .playerStats1,
    .playerStats2 {
        height: 5.5vw;
    }

    .checkmarkPlayer1,
    .checkmarkPlayer2 {
        font-size: 2.6vw;
        font-weight: 400;
    }

    .checkmarkPlayer1Big,
    .checkmarkPlayer2Big {
        font-size: 4em;
        font-weight: 300;
        opacity: 0.0;
        animation: bubble 1s forwards cubic-bezier(0, 0, 0.58, 1);
    }

    .playfieldRowHeight {
        width: 55vw;
        height: 78vh;
    }

    .fieldWrapper {
        margin: {
            top: 2px;
            bottom: 2px;
        }
        width: 76vh;
        height: 76vh;
    }

    .playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 74vh;
        height: 74vh;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

    .DosisFont,
    .DosisFontHowTo,
    .playerStatsFont {
        font-size: 2.6vw;
    }
}
