$bg-body: #003553;
$bg-howToBtn: #FFFF00;
$bg-enterPlayersBtn: #0066FF;
$bg-fieldSizeBtn: #666699;
$bg-startBtn: #00cc00;
$bg-stopBtn: #e60000;

.DosisFont,
.DosisFontHowTo,
.playerStatsFont,
.headHowTo,
.headRegister,
.HowToRegFont, p {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
}

.DosisFont,
.playerStatsFont {
    color: beige;
    font-size: 4vw;
}

.DosisFontHowTo,
.HowToRegFont {
    color: black;
    font-size: 4vw;
}

.HowToRegFont, p {
    font-size: 5.0vw;
}

.headHowTo,
.headRegister {
    width: 96%;
    height: 7.4vh;
    color: black;
    font-size: 6vw;
    border: 2px solid lightgreen;
    border-radius: 15px;
    text-align: center;
}

.headHowTo {
    background-color: $bg-howToBtn;
}

.headRegister {
    background-color: $bg-enterPlayersBtn;
}

.havefun {
    color: red;
    text-align: center;
}

.popup-font {
    font-family: "Dosis", sans-serif;
    font-size: 7.5vw;
    font-weight: 600;
}