// helper classes
.vhalign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

%vhalign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.testframe1 {
    border: 2px solid darkred;
    border-radius: 15px;
}

.testframe2 {
    border: 2px solid grey;
    border-radius: 15px;
}

.testframe3 {
    border: 2px solid lightblue;
    border-radius: 15px;
}