body {
    color: beige;
    background-color: $bg-body;
}

.btn {
    padding: 0;
}

#saveBtn,
#gotItBtn {
    padding: 5px;
    width: 50%;
    border-radius: 15px;
}

.howToBtn {
    background-color: $bg-howToBtn;
    color: $bg-body;
}

.enterPlayersBtn {
    background-color: $bg-enterPlayersBtn;
}

.field8Btn,
.field16Btn,
.field36Btn {
    width: 31.3%;
    cursor: pointer;
}

.field8Btn,
.field16Btn,
.field36Btn,
.startBtn,
.stopBtn,
.enterPlayersBtn,
.howToBtn {
    @extend %vhalign;
    border: 2px solid lightgreen;
    border-radius: 30px;
    height: 29%;
}

.startBtn,
.stopBtn,
.enterPlayersBtn,
.howToBtn {
    width: 48%;
}

.startBtn {
    background-color: $bg-startBtn;
}

.stopBtn {
    background-color: $bg-stopBtn;
}

.btnlocked {
    opacity: 0.3;
}

.selectedSize {
    background-color: darkred;
}

.bg-fieldSizeBtn {
    background-color: #666699;
}

#nameFieldPlayer1Form,
#nameFieldPlayer2Form {
    height: 8vw;
    border-radius: 15px;
}

.scorePlayer1Field,
.scorePlayer2Field {
    text-align: center;
    width: 15%;
}

.checkmarkDiv {
    width: 12%;
}

.playerStats1,
.playerStats2 {
    width: 50%;
    background-color: grey;
}

.playerStats1 {
    border-right: 1px solid #34393F;
}

.playerStats2 {
    border-left: 1px solid #34393F;
}

.checkmarkPlayer1,
.checkmarkPlayer1Big {
    color: lightgreen;
}

.checkmarkPlayer2,
.checkmarkPlayer2Big {
    color: #0066cc;
}

.checkmarkPlayer1,
.checkmarkPlayer2 {
    font-size: 5.5vw;
    font-weight: 400;
}

.checkmarkPlayer1Big,
.checkmarkPlayer2Big {
    opacity: 0.0;
}

.bubbleIcon {
    font-weight: 300;
    animation: bubble 1s forwards cubic-bezier(0, 0, 0.58, 1);
}

@keyframes bubble {
    0% {
        opacity: 0.0;
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        opacity: 1.0;
        transform: scale(1.0);
    }
}

.cardshell {
    position: relative; // width: 31.7%;
    // height: 31.7%;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: transform 0.6s ease-in-out;
    cursor: pointer;
}

.dummycardshell {
    position: relative; // width: 31.7%;
    // height: 31.7%;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
}

.front {
    background-image: url(../images/cards/frontface.jpg);
    background-size: cover; //background-color: orange;
    border: 2px solid lightgreen;
    border-radius: 10px;
}

.back {
    transform: rotateY(180deg) translateZ(1px);
    border: 2px solid lightgreen;
    border-radius: 10px;
}

.showMe {
    transform: rotateY(180deg);
}

#howToModal,
#enterPlayersModal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: {
        top: 20px;
        left: 5px;
        right: 5px;
        bottom: 10px;
    }
    background-color: rgba(133, 173, 173, 0.95);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 15px;
}

.bannerPopup {
    height: 6vh;
}

#howToModal {
    width: 94vw;
}

.ruleset {
    width: 90%;
}

#howToModal {
    width: 94vw;
}

#enterPlayersModal {
    width: 90vw;
}

.registrationText {
    height: 12vh;
}

.formWrapper {
    width: 95%;
    height: 17vh;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
}

.formItems {
    width: 46%;
    margin: 4px;
}

.saveBtnWrapper,
.gotItBtnWrapper {
    width: 80%;
    margin: {
        top: 5px;
        bottom: 5px;
    }
}

.popup {
    position: absolute;
    width: 70vw;
    height: 20vh;
    border: 2px solid lightblue;
    border-radius: 15px;
}

.popupMatch,
.popupNoMatch,
.popupNext,
.popupGameCompleted,
#howToModal,
#enterPlayersModal {
    opacity: 0.0;
    z-index: -1;
    transform: translateZ(-10px);
    transition: opacity .8s ease-in-out;
}

.popupMatch {
    color: beige;
    background-color: darkgreen;
}

.popupNoMatch {
    color: beige;
    background-color: darkred;
}

.popupNext {
    color: #34393F;
    background-color: lightblue;
    border: 2px solid darkgrey;
}

.popupGameCompleted {
    color: #34393F;
    background-color: grey;
    text-align: center;
}

@for $i from 1 through 18 {
    .card#{$i} {
        background-image: url(../images/cards/card#{$i}.jpg);
        background-size: cover;
    }
}

@media screen and (orientation:portrait) {

    .outershell {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        width: 98vw;
        margin-top: 2px;
        margin-bottom: 2px;
        padding-top: 10px;
        padding-bottom: 4px;
    }

    .banner {
        width: $overallWidth;
    }

    .bannerPopup {
        width: $overallWidth;
        margin: {
            top: 5px;
            bottom: 5px;
        }
    }

    .headline {
        width: 100%;
        font: {
            size: 6.9vw;
            family: "Dosis", sans-serif;
        }
        text-align: center;
    }

    .controlPanelRowHeight {
        height: 25.3vh;
        width: $overallWidth;
    }

    .controlPanelWrapper {
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .buttonfield {
        width: 100%;
        height: 76%;
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
    }

    .playStatsWrapper {
        width: 100%;
        height: 20%;
        border-radius: 15px;
        overflow: hidden;
    }

    .playerStats1,
    .playerStats2 {
        height: 100%;
    }

    .playfieldRowHeight {
        width: $overallWidth;
    }

    .fieldWrapper {
        width: 92vw;
        height: 92vw;
    }

    .playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 90vw;
        height: 90vw;
    }
}

@media screen and (orientation:landscape) {

    .outershell {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 98vw;
        height: 98vh;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .banner {
        width: 95%;
    }

    .headline {
        width: 60%;
        font: {
            size: 4.5vw;
            family: "Dosis", sans-serif;
        }
        text-align: center;
    }

    .controlPanelRowHeight {
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
        width: 44vw;
        height: 78vh;
    }

    .controlPanelWrapper {
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        height: 24vw;
    }

    .buttonfield {
        width: 100%;
        height: 71%;
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
    }

    .playStatsWrapper {
        width: 100%;
        height: 18%;
        border-radius: 15px;
        overflow: hidden;
    }

    .playerStats1,
    .playerStats2 {
        height: 100%;
    }

    .checkmarkPlayer1,
    .checkmarkPlayer2 {
        font-size: 2.6vw;
        font-weight: 400;
    }

    .playfieldRowHeight {
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
        width: 52vw;
        height: 78vh;
    }

    .fieldWrapper {
        width: 41vw;
        height: 41vw;
    }

    .playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 39.5vw;
        height: 39.5vw;
    }

    .bannerPopup {
        width: 96%;
        height: 13vh;
    }

    .registrationText {
        height: 19.5vh;
    }

    .formWrapper {
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
        width: 85%;
        height: 19vh;
    }

    .DosisFont,
    .DosisFontHowTo,
    .playerStatsFont {
        font-size: 2.6vw;
    }

    .HowToRegFont,
    p {
        font-size: 2.6vw;
    }

    .headHowTo,
    .headRegister {
        width: 96%;
        height: 10.5vh;
        color: black;
        font-size: 6vh;
        border: 2px solid lightgreen;
        border-radius: 15px;
        text-align: center;
    }

    #nameFieldPlayer1Form,
    #nameFieldPlayer2Form {
        height: 8vh;
        border-radius: 15px;
    }

    .popup-font {
        font-size: 7.5vh;
        font-weight: 600;
    }

    .popup {
        width: 70vh;
        height: 20vw;
    }

    #howToModal {
        width: 94vw;
    }

    #enterPlayersModal {
        width: 90vh;
    } // experimental
    .cardsize9 {
        width: 31.7%!important;
        height: 31.7%!important;
    }

    .cardsize16 {
        width: 23.7%!important;
        height: 23.7%!important;
    }

    .cardsize36 {
        width: 15.4%!important;
        height: 15.4%!important;
    }


} // special breakpoint for 1.33 ratio, ipad
@media screen and (width: 768px) and (height: 1024px) {

    .banner,
    .controlPanelRowHeight {
        width: 86%;
    }

    .playfield {
        width: 81vw;
        height: 81vw;
    }

    .fieldWrapper {
        width: 83vw;
        height: 83vw;
    }

    .DosisFont,
    .playerStatsFont {
        color: beige;
        font-size: 4.5vw;
    }

    .DosisFontHowTo,
    .HowToRegFont {
        color: black;
        font-size: 4.5vw;
    }

    .headHowTo,
    .headRegister {
        width: 96%;
        height: 7vh;
        color: black;
        font-size: 6vw;
        border: 2px solid lightgreen;
        border-radius: 15px;
        text-align: center;
    }

    .registrationText {
        height: 12vh;
    }

} // special breakpoint for 1.33 ratio ipad pro
@media screen and (width: 1024px) and (height: 1366px) {

    .banner,
    .controlPanelRowHeight {
        width: 86%;
    }

    .playfield {
        width: 81vw;
        height: 81vw;
    }

    .fieldWrapper {
        width: 83vw;
        height: 83vw;
    }

    .DosisFont,
    .playerStatsFont {
        color: beige;
        font-size: 4.5vw;
    }

    .DosisFontHowTo,
    .HowToRegFont {
        color: black;
        font-size: 4.5vw;
    }

    .headHowTo,
    .headRegister {
        width: 96%;
        height: 7vh;
        color: black;
        font-size: 6vw;
        border: 2px solid lightgreen;
        border-radius: 15px;
        text-align: center;
    }

    .registrationText {
        height: 12vh;
    }
}

// special breakpoint for 1.33 ratio ipad pro
@media screen and (width: 1024px) and (height: 768px) {

    .outershell {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 98vw;
        height: 98vh;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .banner {
        width: 95%;
    }

    .headline {
        width: 60%;
        font: {
            size: 4.9vw;
            family: "Dosis", sans-serif;
        }
        text-align: center;
    }

    .controlPanelRowHeight {
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
        width: 44vw;
        height: 78vh;
    }

    .controlPanelWrapper {
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        height: 24vw;
    }

    .buttonfield {
        width: 100%;
        height: 71%;
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
    }

    .playStatsWrapper {
        width: 100%;
        height: 19%;
        border-radius: 15px;
        overflow: hidden;
    }

    .playerStats1,
    .playerStats2 {
        height: 100%;
    }

    .playerStats1 {
        border-right: 1px solid #34393F;
    }

    .playerStats2 {
        border-left: 1px solid #34393F;
    }

    .checkmarkPlayer1,
    .checkmarkPlayer2 {
        font-size: 2.6vw;
        font-weight: 400;
    }

    .playfieldRowHeight {
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
        width: 52vw;
        height: 78vh;
    }

    .fieldWrapper {
        width: 49vw;
        height: 49vw;
    }

    .playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 48vw;
        height: 48vw;
    }

    .DosisFont,
    .DosisFontHowTo,
    .playerStatsFont {
        font-size: 2.6vw;
    }

    #nameFieldPlayer1Form,
    #nameFieldPlayer2Form {
        height: 5vh;
        border-radius: 15px;
    }
}

// special breakpoint for 1.33 ratio ipad pro
@media screen and (width: 1366px) and (height: 1024px) {

    .outershell {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 98vw;
        height: 98vh;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .banner {
        width: 95%;
    }

    .headline {
        width: 60%;
        font: {
            size: 4.9vw;
            family: "Dosis", sans-serif;
        }
        text-align: center;
    }

    .controlPanelRowHeight {
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
        width: 44vw;
        height: 78vh;
    }

    .controlPanelWrapper {
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        height: 24vw;
    }

    .buttonfield {
        width: 100%;
        height: 71%;
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
    }

    .playStatsWrapper {
        width: 100%;
        height: 19%;
        border-radius: 15px;
        overflow: hidden;
    }

    .playerStats1,
    .playerStats2 {
        height: 100%;
    }

    .checkmarkPlayer1,
    .checkmarkPlayer2 {
        font-size: 2.6vw;
        font-weight: 400;
    }

    .playfieldRowHeight {
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-wrap: wrap;
        width: 52vw;
        height: 78vh;
    }

    .fieldWrapper {
        width: 49vw;
        height: 49vw;
    }

    .playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 48vw;
        height: 48vw;
    }

    .DosisFont,
    .DosisFontHowTo,
    .playerStatsFont {
        font-size: 2.6vw;
    }

    #nameFieldPlayer1Form,
    #nameFieldPlayer2Form {
        height: 5vh;
        border-radius: 15px;
    }
}
