/*playfield structures*/

body {
    color: beige;
    height: 89vh;
}

%greenBorder {
    border: 2px solid lightgreen;
    border-radius: 15px;
}

%marginPlayfield {
    margin: {
        top: 2px;
        bottom: 2px;
    }
}

%marginPlayfieldWrapper {
    margin: {
        top: 2px;
        bottom: 8px;
    }
}

%marginBtn {
    margin: {
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
    }
}

%padding12 {
    padding: 10px;
}

#outershell {
    /*    outer frame, wrapper of board */
    width: 98vw;
    margin-top: 12px;
    margin-bottom: 2px;
}

#controlPanelWrapper {
    /*wrapper of  controlpanel*/
    @extend %vhalign;
}

#buttonfield {
    padding: 5px;
    max-width: 400px;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    @extend %DosisFont;
}

#howToBtn {
    width: 48%;
    @extend %greenBorder;
    @extend %height-controlBtn;
    @extend %vhalign;
    @extend %marginBtn;
    @extend %padding12;
    @extend %DosisFont;
    background-color: $bg-howToBtn;
    color: $bg-body;
}

#enterPlayersBtn {
    width: 48%;
    @extend %greenBorder;
    @extend %height-controlBtn;
    @extend %vhalign;
    @extend %marginBtn;
    @extend %padding12;
    @extend %DosisFont;
    background-color: $bg-enterPlayersBtn;
}

%height-controlBtn {
    height: 35px;
}

%width-fieldSizeBtn {
    width: 31.33%;
}

#field8Btn {
    @extend %greenBorder;
    @extend %height-controlBtn;
    @extend %width-fieldSizeBtn;
    @extend %vhalign;
    @extend %marginBtn;
    @extend %padding12;
    @extend %DosisFont;
    cursor: pointer;
}

#field16Btn {
    @extend %greenBorder;
    @extend %height-controlBtn;
    @extend %width-fieldSizeBtn;
    @extend %vhalign;
    @extend %marginBtn;
    @extend %padding12;
    @extend %DosisFont;
    cursor: pointer;
}

#field36Btn {
    @extend %greenBorder;
    @extend %height-controlBtn;
    @extend %width-fieldSizeBtn;
    @extend %vhalign;
    @extend %marginBtn;
    @extend %padding12;
    @extend %DosisFont;
    cursor: pointer;
}

#startBtn {
    width: 48%;
    @extend %greenBorder;
    @extend %height-controlBtn;
    @extend %vhalign;
    @extend %marginBtn;
    @extend %padding12;
    @extend %DosisFont;
    background-color: $bg-startBtn;
}

#stopBtn {
    width: 48%;
    @extend %greenBorder;
    @extend %height-controlBtn;
    @extend %vhalign;
    @extend %marginBtn;
    @extend %padding12;
    @extend %DosisFont;
    background-color: $bg-stopBtn;
}

.btnlocked {
    opacity: 0.3;
}

.selectedSize {
    background-color: darkred;
}

.bg-fieldSizeBtn {
    background-color: #666699;
}

.playStatsWrapper {
    @extend %vhalign;
    width: 382px;
    margin: {
        top: 5px;
        bottom: 5px;
    }
    border-radius: 15px;
    overflow: hidden;
}

.playerStats1 {
    width: 50%;
    height: 30px;
    padding: 4px;
    @extend %vhalign;
    @extend %DosisFont;
    background-color: grey;
    border-right: 1px solid #34393F;
}

.playerStats2 {
    width: 50%;
    height: 30px;
    padding: 4px;
    @extend %vhalign;
    @extend %DosisFont;
    background-color: grey;
    border-left: 1px solid #34393F;
}

.namePlayer1,
.namePlayer2 {}

.scorePlayer1,
.scorePlayer2 {
    @extend %halign;
    width: 20px;
}

.checkmarkPlayer1 {
    color: lightgreen;
    font-size: 22px;
    font-weight: 400;
    padding-top: 5px;
}

.checkmarkPlayer2 {
    color: #0066cc;
    font-size: 22px;
    font-weight: 400;
    padding-top: 5px;
}

#fieldWrapper {
    @extend %vhalign;
    @extend %marginPlayfieldWrapper;
}

#playfield {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    transition: opacity .5s ease-in-out;
    width: 87vw;
    height: 87vw;
    @extend %marginPlayfield;
}

.cardshell {
    position: relative;
    width: 32%;
    height: 32%;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: transform 0.6s ease-in-out;
}

#dummycardshell {
    position: relative;
    width: 32%;
    height: 32%;
}


.card {
    position: absolute;
    width: 100%;
    height: 100%;
}

.front {
    background-color: orange;
    border: 2px solid lightgreen;
    border-radius: 10px;
    @extend %vhalign;
    
    
}

.back {
    transform: rotateY(180deg) translateZ(1px);
    border: 2px solid lightgreen;
    border-radius: 10px;
    @extend %vhalign;
}

.showMe {
    transform: rotateY(180deg);
}

li {
    width: 80vw;
    padding-right: 25px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.display {
    opacity: 1;
}

.invisible {
    opacity: 0;
}


// modal apprearance occur below the turned cards, so a correction in Z pos is necessary. Z-index did not bring remedy.
#howToModal,
#enterPlayersModal {
    transform: translateZ(1px);
}


// generating card classes
@for $i from 1 through 18 {
    .card-#{$i} {
        background-image: url(/assets/images/cards/card-#{$i}.jpg);
        background-size: cover;
    }
}


#whoseNext {
    position: absolute;
    @extend %DosisFont;
    color: darkred;
    background-color: #34393F;
    transform:  translateY(-400px);
    transition: transform 1.4s ease-in-out;
}

.popshow {
    
    transform: translateY(100px);
}