/*playfield structures*/

body {
    color: beige;
    height: 92vh;
}

%greenBorder {
    border: 2px solid lightgreen;
    border-radius: 15px;
}

%marginPlayfield {
    margin: {
        top: 2px;
        bottom: 2px;
    }
}

%marginPlayfieldWrapper {
    margin: {
        top: 2px;
        bottom: 2px;
    }
}

%marginBtn {
    margin: {
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
    }
}

%padding12 {
    padding: 8px;
}

.outershell {
    /*    outer frame, wrapper of board */
    width: 98vw;
    height: 89vh;
    margin-top: 10px;
    margin-bottom: 2px;
}

.controlPanelWrapper {
    /*wrapper of  controlpanel*/
    @extend %vhalign;
}

.buttonfield {
    padding: 5px;
    width: 98%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    @extend %DosisFont;
}

.howToBtn {
    width: 48%;
    @extend %greenBorder;
    @extend %height-controlBtn;
    @extend %vhalign;
    @extend %marginBtn;
    @extend %padding12;
    @extend %DosisFont;
    background-color: $bg-howToBtn;
    color: $bg-body;
}

.enterPlayersBtn {
    width: 48%;
    @extend %greenBorder;
    @extend %height-controlBtn;
    @extend %vhalign;
    @extend %marginBtn;
    @extend %padding12;
    @extend %DosisFont;
    background-color: $bg-enterPlayersBtn;
}

%height-controlBtn {
    height: 30%;
}

%width-fieldSizeBtn {
    width: 31.3%;
}

.field8Btn {
    @extend %greenBorder;
    @extend %height-controlBtn;
    @extend %width-fieldSizeBtn;
    @extend %vhalign;
    @extend %marginBtn;
    @extend %padding12;
    @extend %DosisFont;
    cursor: pointer;
}

.field16Btn {
    @extend %greenBorder;
    @extend %height-controlBtn;
    @extend %width-fieldSizeBtn;
    @extend %vhalign;
    @extend %marginBtn;
    @extend %padding12;
    @extend %DosisFont;
    cursor: pointer;
}

.field36Btn {
    @extend %greenBorder;
    @extend %height-controlBtn;
    @extend %width-fieldSizeBtn;
    @extend %vhalign;
    @extend %marginBtn;
    @extend %padding12;
    @extend %DosisFont;
    cursor: pointer;
}

.startBtn {
    width: 48%;
    @extend %greenBorder;
    @extend %height-controlBtn;
    @extend %vhalign;
    @extend %marginBtn;
    @extend %padding12;
    @extend %DosisFont;
    background-color: $bg-startBtn;
}

.stopBtn {
    width: 48%;
    @extend %greenBorder;
    @extend %height-controlBtn;
    @extend %vhalign;
    @extend %marginBtn;
    @extend %padding12;
    @extend %DosisFont;
    background-color: $bg-stopBtn;
}

.btnlocked {
    opacity: 0.3;
}

.selectedSize {
    background-color: darkred;
}

.bg-fieldSizeBtn {
    background-color: #666699;
}

.playStatsWrapper {
    @extend %vhalign;
    width: 98%;
    margin: {
        top: 5px;
        bottom: 5px;
    }
    border-radius: 15px;
    overflow: hidden;
}

.playerStats1 {
    width: 50%;
    height: 30px;
    padding: 4px;
    @extend %vhalign;
    @extend %DosisFont;
    background-color: grey;
    border-right: 1px solid #34393F;
}

.playerStats2 {
    width: 50%;
    height: 30px;
    padding: 4px;
    @extend %vhalign;
    @extend %DosisFont;
    background-color: grey;
    border-left: 1px solid #34393F;
}

.namePlayer1,
.namePlayer2 {}

.scorePlayer1Field,
.scorePlayer2Field {
    @extend %halign;
    width: 20px;
}

.checkmarkPlayer1 {
    color: lightgreen;
    font-size: 22px;
    font-weight: 400;
    padding-top: 5px;
}

.checkmarkPlayer2 {
    color: #0066cc;
    font-size: 22px;
    font-weight: 400;
    padding-top: 5px;
}

.checkmarkPlayer1Big {
    color: lightgreen;
    font-size: 3.8em;
    font-weight: 300;
    padding-top: 5px;
}

.checkmarkPlayer2Big {
    color: #0066cc;
    font-size: 3.8em;
    font-weight: 300;
    padding-top: 5px;
}

.fieldWrapper {
    @extend %vhalign;
    @extend %marginPlayfieldWrapper;
    width: 96vw;
}

.playfield {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    transition: opacity .5s ease-in-out;
    width: 90vw;
    height: 90vw;
    @extend %marginPlayfield;
}

.cardshell {
    position: relative;
    width: 31.7%;
    height: 31.7%;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: transform 0.6s ease-in-out;
}

.dummycardshell {
    position: relative;
    width: 31.7%;
    height: 31.7%;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
}

.front {
    background-color: orange;
    border: 2px solid lightgreen;
    border-radius: 10px;
    @extend %vhalign;
}

.back {
    transform: rotateY(180deg) translateZ(1px);
    border: 2px solid lightgreen;
    border-radius: 10px;
    @extend %vhalign;
}

.showMe {
    transform: rotateY(180deg);
}

li {
    width: 80vw;
    padding-right: 25px;
}

.row {
    margin-right: -20px;
    margin-left: -20px;
}

// modal apprearance occur below the turned cards, so a correction in Z pos is necessary. Z-index did not bring remedy.
#howToModal,
#enterPlayersModal {
    transform: translateZ(110px);
}

.modal-body {
    padding-bottom: 0;
    margin-bottom: 0;
}

.formWrapper {
    width: 80%;

}

%popup {
    position: absolute;
    @extend %popup-font;
    width: 200px;
    height: 120px;
    border: 2px solid lightblue;
    border-radius: 15px;
}

.popupMatch {
    @extend %popup;
    background-color: darkgreen;
    opacity: 0.0;
    z-index: -1;
    transform: translateZ(-10px);
    transition: opacity 1s ease-in-out;
}

.popupNoMatch {
    @extend %popup;
    background-color: darkred;
    opacity: 0.0;
    z-index: -1;
    transform: translateZ(-10px);
    transition: opacity 1s ease-in-out;
}

.popupNext {
    @extend %popup;
    color: #34393F;
    background-color: lightblue;
    border: 2px solid darkgrey;
    opacity: 0.0;
    z-index: -1;
    transform: translateZ(-10px);
    transition: opacity 1s ease-in-out;
}

.popupGameCompleted {
    @extend %popup;
    background-color: grey;
    opacity: 0.0;
    z-index: -1;
    transform: translateZ(-10px);
    transition: opacity 1s ease-in-out;
}

// generating card classes
@for $i from 1 through 18 {
    .card#{$i} {
        background-image: url(../images/cards/card#{$i}.jpg);
        background-size: cover;
    }
}


.diagnosis {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.diag1,
.diag2,
.diag3,
.diag4,
.diag5,
.diag6,
.diag7,
.diag8 {
    display: inline-block;
    width: 23%;
    height: 30px;
    color: black;
}

.diag1,
.diag2,
.diag3,
.diag4 {
    background-color: lightblue;

}

.diag5,
.diag6,
.diag7,
.diag8 {
    background-color: grey;

}



//breakpoints
@media screen and (min-width: 736px) and (orientation:landscape) {


    body {
        color: beige;
        height: 100vh;
    }


    .outershell {
        /*    outer frame, wrapper of board */
        width: 98vw;
        height: 90vh;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 40vh;
        height: 40vh;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

    .playfieldRowHeight {
        height: 42vh;
    }

    .fieldWrapper {

        margin: {
            top: 2px;
            bottom: 2px;
        }
        width: 42vh;

    }

    .controlPanelWrapper {
        /*wrapper of  controlpanel*/
        margin: {
            bottom: 2px;
        }

        width: 70%;
    }

    .buttonfield {
        padding: 5px;
        width: 98%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        flex-wrap: wrap;
        font-family: "Dosis", sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: beige;
    }



    .modal-body {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .playStatsWrapper {
        width: 70%;
        margin: {
            top: 2px;
            bottom: 2px;
        }
        border-radius: 15px;
        overflow: hidden;
    }

    .playerStats1 {
        width: 50%;
        height: 25px;
        padding: 4px;
        background-color: grey;
        border-right: 1px solid #34393F;
    }

    .playerStats2 {
        width: 50%;
        height: 25px;
        padding: 4px;
        background-color: grey;
        border-left: 1px solid #34393F;
    }

    .formWrapper {
        width: 80%;
    }

    .headline {
        width: 90%;
        max-width: 310px;
        font: {
            size: 2.5em;
            family: "Dosis", sans-serif;
        }
        margin-top: 5px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (orientation:portrait) {

    body {
        color: beige;
        height: 100vh;
    }


    .outershell {
        /*    outer frame, wrapper of board */
        width: 98vw;
        height: 98vh;
        margin-top: 10px;
        margin-bottom: 2px;
    }

    .playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 60vw;
        height: 60vw;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

    .playfieldRowHeight {
        height: 87vh;
    }

    .fieldWrapper {

        margin: {
            top: 2px;
            bottom: 2px;
        }
       width: 62vw;
        height: 62vw;
    }

    .controlPanelWrapper {
        /*wrapper of  controlpanel*/
        margin: {
            bottom: 5px;
        }
        width: 100%;
    }
    

    .buttonfield {
        padding: 3px;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        flex-wrap: wrap;
        font-family: "Dosis", sans-serif;
        font-size: 16px;
        font-weight: 200;
        color: beige;
    }

    

    .modal-body {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .playStatsWrapper {
        width: 98%;
        margin: {
            top: 5px;
            bottom: 5px;
        }
        border-radius: 15px;
        overflow: hidden;
    }

    .playerStats1 {
        width: 50%;
        height: 30px;
        padding: 4px;
        background-color: grey;
        border-right: 1px solid #34393F;
    }

    .playerStats2 {
        width: 50%;
        height: 30px;
        padding: 4px;
        background-color: grey;
        border-left: 1px solid #34393F;
    }

    .formWrapper {
        width: 80%;
    }

    .headline {
        width: 90%;
        max-width: 310px;
        font: {
            size: 2.5em;
            family: "Dosis", sans-serif;
        }
        margin-top: 5px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (orientation:landscape) {

    body {
        color: beige;
        height: 100vh;
    }


    .outershell {
        /*    outer frame, wrapper of board */
        width: 98vw;
        height: 98vh;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 80vh;
        height: 80vh;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

    .playfieldRowHeight {
        height: 86vh;
    }

    .fieldWrapper {

        margin: {
            top: 2px;
            bottom: 2px;
        }
        width: 82vh;
        height: 82vh;
    }

    .controlPanelWrapper {
        /*wrapper of  controlpanel*/
        margin: {
            bottom: 5px;
        }
        width:100%;
    }

    .modal-body {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .playStatsWrapper {
        width: 100%;
        margin: {
            top: 5px;
            bottom: 5px;
        }
        border-radius: 15px;
        overflow: hidden;
    }

    .playerStats1 {
        width: 50%;
        height: 30px;
        padding: 4px;
        background-color: grey;
        border-right: 1px solid #34393F;
    }

    .playerStats2 {
        width: 50%;
        height: 30px;
        padding: 4px;
        background-color: grey;
        border-left: 1px solid #34393F;
    }

    .formWrapper {
        width: 80%;
    }

    .headline {
        width: 90%;
        max-width: 310px;
        font: {
            size: 2.5em;
            family: "Dosis", sans-serif;
        }
        margin: {
            top: 5px; // bottom: 5px;
        }

        text-align: center;
    }






}

@media screen and (min-width: 992px) and (orientation:portrait) {
    
     body {
        color: beige;
        height: 100vh;
    }


    .outershell {
        /*    outer frame, wrapper of board */
        width: 98vw;
        height: 98vh;
        margin-top: 10px;
        margin-bottom: 2px;
    }

    .playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 60vw;
        height: 60vw;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

    .playfieldRowHeight {
        height: 87vh;
    }

    .fieldWrapper {

        margin: {
            top: 2px;
            bottom: 2px;
        }
       width: 62vw;
        height: 62vw;
    }

    .controlPanelWrapper {
        /*wrapper of  controlpanel*/
        margin: {
            bottom: 5px;
        }
        width: 100%;
    }
    

    .buttonfield {
        padding: 3px;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        flex-wrap: wrap;
        font-family: "Dosis", sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: beige;
    }

    

    .modal-body {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .playStatsWrapper {
        width: 98%;
        margin: {
            top: 5px;
            bottom: 5px;
        }
        border-radius: 15px;
        overflow: hidden;
    }

    .playerStats1 {
        width: 50%;
        height: 30px;
        padding: 4px;
        background-color: grey;
        border-right: 1px solid #34393F;
    }

    .playerStats2 {
        width: 50%;
        height: 30px;
        padding: 4px;
        background-color: grey;
        border-left: 1px solid #34393F;
    }

    .formWrapper {
        width: 80%;
    }

    .headline {
        width: 90%;
        max-width: 310px;
        font: {
            size: 2.5em;
            family: "Dosis", sans-serif;
        }
        margin-top: 5px;
        text-align: center;
    }
}

@media screen and (min-width: 992px) and (orientation:landscape) {

    body {
        color: beige;
        height: 100vh;
    }


    .outershell {
        /*    outer frame, wrapper of board */
        width: 98vw;
        height: 98vh;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 82vh;
        height: 82vh;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

    .playfieldRowHeight {
        height: 92vh;
    }

    .fieldWrapper {

        margin: {
            top: 2px;
            bottom: 2px;
        }
        width: 84vh;
        height: 84vh;
    }

    .controlPanelWrapper {
        /*wrapper of  controlpanel*/
        margin: {
            bottom: 5px;
        }
    }

    .modal-body {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .playStatsWrapper {
        width: 98%;
        margin: {
            top: 5px;
            bottom: 5px;
        }
        border-radius: 15px;
        overflow: hidden;
    }

    .playerStats1 {
        width: 50%;
        height: 30px;
        padding: 4px;
        background-color: grey;
        border-right: 1px solid #34393F;
    }

    .playerStats2 {
        width: 50%;
        height: 30px;
        padding: 4px;
        background-color: grey;
        border-left: 1px solid #34393F;
    }

    .formWrapper {
        width: 80%;
    }

    .headline {
        width: 90%;
        max-width: 310px;
        font: {
            size: 2.5em;
            family: "Dosis", sans-serif;
        }
        margin: {
            top: 5px;
            bottom: 5px;
        }

        text-align: center;
    }
}

@media screen and (min-width: 1200px) and (orientation:portrait) {}

@media screen and (min-width: 1200px) and (orientation:landscape) {

    body {
        color: beige;
        height: 100vh;
    }


    .outershell {
        /*    outer frame, wrapper of board */
        width: 98vw;
        height: 98vh;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 82vh;
        height: 82vh;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

    .playfieldRowHeight {
        height: 92vh;
    }

    .fieldWrapper {

        margin: {
            top: 2px;
            bottom: 2px;
        }
        width: 84vh;
        height: 84vh;
    }

    .controlPanelWrapper {
        /*wrapper of  controlpanel*/
        margin: {
            bottom: 5px;
        }
    }

    .modal-body {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .playStatsWrapper {
        width: 98%;
        margin: {
            top: 5px;
            bottom: 5px;
        }
        border-radius: 15px;
        overflow: hidden;
    }

    .playerStats1 {
        width: 50%;
        height: 30px;
        padding: 4px;
        background-color: grey;
        border-right: 1px solid #34393F;
    }

    .playerStats2 {
        width: 50%;
        height: 30px;
        padding: 4px;
        background-color: grey;
        border-left: 1px solid #34393F;
    }

    .formWrapper {
        width: 80%;
    }

    .headline {
        width: 90%;
        max-width: 310px;
        font: {
            size: 2.5em;
            family: "Dosis", sans-serif;
        }
        margin: {
            top: 5px;
            bottom: 5px;
        }

        text-align: center;
    }
}

@media screen and (min-width: 1800px) and (orientation:landscape) {}
