$bg-body: #34393F;
$bg-howToBtn: #FFFF00;
$bg-enterPlayersBtn: #0066FF;
$bg-startBtn: #00cc00;
$bg-stopBtn: #e60000;


.headline {
width: 80%;
max-width: 310px;
    font: {
        size: 1.8em;
        family: "Dosis", sans-serif;
    }
    margin-top: 10px;
    text-align: center;
}

.modal-font {
    font-family: "Dosis", sans-serif;
    color: black;
}

%DosisFont {
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    font-weight: 200;
}
