$bg-body: #34393F;

.headline {
width: 80%;
max-width: 310px;
    font: {
        size: 1.8em;
        family: "Dosis", sans-serif;
    }
    padding: {
        left: 5px;
        right: 5px;
    }
    margin-top: 10px;
    text-align: center;
    height: 8vh;
}

.modal-font {
    font-family: "Dosis", sans-serif;
    color: black;
}

%DosisFont {
    font-family: "Dosis", sans-serif;
    font-size: 16px;
}
