/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        color: beige;
        height: 15vh;
        width: 15vw;
    }


    #outershell {
        //*    outer frame, wrapper of board 
        width: 30vw;
        margin-top: 12px;
        margin-bottom: 2px;
    }

    #playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 40vw;
        height: 40vw;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        color: beige;
        height: 5vh;
        width: 5vw;
    }


    #outershell {
        //*    outer frame, wrapper of board 
        width: 50vw;
        margin-top: 12px;
        margin-bottom: 2px;
    }

    #playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 30vw;
        height: 20vw;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        color: beige;
        height: 60vh;
        width: 60vw;
        background-color: white;
    }


    #outershell {
        //*    outer frame, wrapper of board 
        width: 50vw;
        margin-top: 12px;
        margin-bottom: 2px;
    }

    #playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 60vw;
        height: 60vw;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

}

/*


@media screen and (max-width: 767px) and (orientation:portrait) {}

@media screen and (max-width: 767px) and (orientation:landscape) {

    body {
        color: beige;
        height: 89vh;
        width: 100vw;
    }


    #outershell {
        //*    outer frame, wrapper of board 
        width: 98vw;
        margin-top: 12px;
        margin-bottom: 2px;
    }

    #playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 87vw;
        height: 87vw;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

}

@media screen and (min-width: 768px) and (orientation:portrait) {}

@media screen and (min-width: 768px) and (orientation:landscape) {}

@media screen and (min-width: 992px) and (orientation:portrait) {}

@media screen and (min-width: 992px) and (orientation:landscape) {
    body {
        color: beige;
        height: 15vh;
    }
    #outershell {
        //    outer frame, wrapper of board 
        width: 15vw;
        margin-top: 12px;
        margin-bottom: 2px;
    }

    #playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 30vh;
        height: 30vh;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

}




@media screen and (min-width: 1200px) and (orientation:portrait) {
    
     body {
        color: beige;
        height: 15vh;
    }
    #outershell {
        //    outer frame, wrapper of board 
        width: 15vw;
        margin-top: 12px;
        margin-bottom: 2px;
    }

    #playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 30vh;
        height: 30vh;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

}

@media screen and (min-width: 1200px) and (orientation:landscape) {

  




    body {
        color: beige;
        height: 98vh;
    }
    #outershell {
        //    outer frame, wrapper of board 
        width: 98vw;
        margin-top: 12px;
        margin-bottom: 2px;
    }

    #playfield {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        transition: opacity .5s ease-in-out;
        width: 30vw;
        height: 30vw;
        margin: {
            top: 2px;
            bottom: 2px;
        }
    }

}


*/