body {
  background-color: #1f3d7a; }

.headline {
  width: 90%;
  max-width: 310px;
  font-size: 1.8em;
  font-family: "Dosis", sans-serif;
  margin-top: 10px;
  text-align: center; }

.modal-font-head-howTo, .modal-font-head-register, #buttonfield, #howToBtn, #enterPlayersBtn, #field8Btn, #field16Btn, #field36Btn, #startBtn, #stopBtn, .playerStats1, .playerStats2 {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: beige; }

.playerStatsFont {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: beige; }

.modal-font {
  font-family: "Dosis", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: black;
  line-height: 1.4; }

.modal-font-head-howTo {
  color: black;
  font-size: 24px;
  border: 2px solid lightgreen;
  border-radius: 15px;
  background-color: #FFFF00; }

.modal-font-head-register {
  color: black;
  font-size: 24px;
  border: 2px solid lightgreen;
  border-radius: 15px;
  background-color: #0066FF; }

.front-font {
  font-family: "Dosis", sans-serif;
  font-size: 3.5em;
  font-weight: 400;
  color: #34393F; }

.havefun {
  color: red;
  text-align: center; }

.popupMatch, .popupNoMatch, .popupNext, .popupGameCompleted {
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: beige; }

.vhalign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

#controlPanelWrapper, #howToBtn, #enterPlayersBtn, #field8Btn, #field16Btn, #field36Btn, #startBtn, #stopBtn, .playStatsWrapper, .playerStats1, .playerStats2, #fieldWrapper, .front, .back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.valign {
  display: flex;
  align-items: center; }

.halign {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.scorePlayer1,
.scorePlayer2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.testframe1 {
  border: 2px solid darkred;
  border-radius: 15px; }

.testframe2 {
  border: 2px solid grey;
  border-radius: 15px; }

.testframe3 {
  border: 2px solid lightblue;
  border-radius: 15px; }

/*playfield structures*/
body {
  color: beige;
  height: 89vh; }

#howToBtn, #enterPlayersBtn, #field8Btn, #field16Btn, #field36Btn, #startBtn, #stopBtn {
  border: 2px solid lightgreen;
  border-radius: 15px; }

#playfield {
  margin-top: 2px;
  margin-bottom: 2px; }

#fieldWrapper {
  margin-top: 2px;
  margin-bottom: 8px; }

#howToBtn, #enterPlayersBtn, #field8Btn, #field16Btn, #field36Btn, #startBtn, #stopBtn {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px; }

#howToBtn, #enterPlayersBtn, #field8Btn, #field16Btn, #field36Btn, #startBtn, #stopBtn {
  padding: 10px; }

#outershell {
  /*    outer frame, wrapper of board */
  width: 98vw;
  margin-top: 12px;
  margin-bottom: 2px; }

#controlPanelWrapper {
  /*wrapper of  controlpanel*/ }

#buttonfield {
  padding: 5px;
  max-width: 400px;
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap; }

#howToBtn {
  width: 48%;
  background-color: #FFFF00;
  color: #34393F; }

#enterPlayersBtn {
  width: 48%;
  background-color: #0066FF; }

#howToBtn, #enterPlayersBtn, #field8Btn, #field16Btn, #field36Btn, #startBtn, #stopBtn {
  height: 35px; }

#field8Btn, #field16Btn, #field36Btn {
  width: 31.33%; }

#field8Btn {
  cursor: pointer; }

#field16Btn {
  cursor: pointer; }

#field36Btn {
  cursor: pointer; }

#startBtn {
  width: 48%;
  background-color: #00cc00; }

#stopBtn {
  width: 48%;
  background-color: #e60000; }

.btnlocked {
  opacity: 0.3; }

.selectedSize {
  background-color: darkred; }

.bg-fieldSizeBtn {
  background-color: #666699; }

.playStatsWrapper {
  width: 382px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  overflow: hidden; }

.playerStats1 {
  width: 50%;
  height: 30px;
  padding: 4px;
  background-color: grey;
  border-right: 1px solid #34393F; }

.playerStats2 {
  width: 50%;
  height: 30px;
  padding: 4px;
  background-color: grey;
  border-left: 1px solid #34393F; }

.scorePlayer1,
.scorePlayer2 {
  width: 20px; }

.checkmarkPlayer1 {
  color: lightgreen;
  font-size: 22px;
  font-weight: 400;
  padding-top: 5px; }

.checkmarkPlayer2 {
  color: #0066cc;
  font-size: 22px;
  font-weight: 400;
  padding-top: 5px; }

.checkmarkPlayer1Big {
  color: lightgreen;
  font-size: 4em;
  font-weight: 400;
  padding-top: 5px; }

.checkmarkPlayer2Big {
  color: #0066cc;
  font-size: 4em;
  font-weight: 400;
  padding-top: 5px; }

#playfield {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  transition: opacity .5s ease-in-out;
  width: 87vw;
  height: 87vw; }

.cardshell {
  position: relative;
  width: 32%;
  height: 32%;
  transform-style: preserve-3d;
  transform: rotateY(0);
  transition: transform 0.6s ease-in-out; }

.dummycardshell {
  position: relative;
  width: 32%;
  height: 32%; }

.card {
  position: absolute;
  width: 100%;
  height: 100%; }

.front {
  background-color: orange;
  border: 2px solid lightgreen;
  border-radius: 10px; }

.back {
  transform: rotateY(180deg) translateZ(1px);
  border: 2px solid lightgreen;
  border-radius: 10px; }

.showMe {
  transform: rotateY(180deg); }

li {
  width: 80vw;
  padding-right: 25px; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

#howToModal,
#enterPlayersModal {
  transform: translateZ(110px); }

.popupMatch, .popupNoMatch, .popupNext, .popupGameCompleted {
  position: absolute;
  width: 200px;
  height: 120px;
  border: 2px solid lightblue;
  border-radius: 15px; }

.popupMatch {
  background-color: darkgreen;
  opacity: 0.0;
  z-index: -1;
  transform: translateZ(-10px);
  transition: opacity 1s ease-in-out; }

.popupNoMatch {
  background-color: darkred;
  opacity: 0.0;
  z-index: -1;
  transform: translateZ(-10px);
  transition: opacity 1s ease-in-out; }

.popupNext {
  color: #34393F;
  background-color: lightblue;
  border: 2px solid darkgrey;
  opacity: 0.0;
  z-index: -1;
  transform: translateZ(-10px);
  transition: opacity 1s ease-in-out; }

.popupGameCompleted {
  background-color: grey;
  opacity: 0.0;
  z-index: -1;
  transform: translateZ(-10px);
  transition: opacity 1s ease-in-out; }

.card1 {
  background-image: url(../images/cards/card1.jpg);
  background-size: cover; }

.card2 {
  background-image: url(../images/cards/card2.jpg);
  background-size: cover; }

.card3 {
  background-image: url(../images/cards/card3.jpg);
  background-size: cover; }

.card4 {
  background-image: url(../images/cards/card4.jpg);
  background-size: cover; }

.card5 {
  background-image: url(../images/cards/card5.jpg);
  background-size: cover; }

.card6 {
  background-image: url(../images/cards/card6.jpg);
  background-size: cover; }

.card7 {
  background-image: url(../images/cards/card7.jpg);
  background-size: cover; }

.card8 {
  background-image: url(../images/cards/card8.jpg);
  background-size: cover; }

.card9 {
  background-image: url(../images/cards/card9.jpg);
  background-size: cover; }

.card10 {
  background-image: url(../images/cards/card10.jpg);
  background-size: cover; }

.card11 {
  background-image: url(../images/cards/card11.jpg);
  background-size: cover; }

.card12 {
  background-image: url(../images/cards/card12.jpg);
  background-size: cover; }

.card13 {
  background-image: url(../images/cards/card13.jpg);
  background-size: cover; }

.card14 {
  background-image: url(../images/cards/card14.jpg);
  background-size: cover; }

.card15 {
  background-image: url(../images/cards/card15.jpg);
  background-size: cover; }

.card16 {
  background-image: url(../images/cards/card16.jpg);
  background-size: cover; }

.card17 {
  background-image: url(../images/cards/card17.jpg);
  background-size: cover; }

.card18 {
  background-image: url(../images/cards/card18.jpg);
  background-size: cover; }

/*# sourceMappingURL=main.css.map */
