/*playfield structures*/
#howToBtn, #enterPlayersBtn, #field3x3Btn, #field4x4Btn, #field6x6Btn, #startBtn, #stopBtn {
  border: 2px solid lightgreen;
  border-radius: 15px; }

#howToBtn, #enterPlayersBtn, #field3x3Btn, #field4x4Btn, #field6x6Btn, #startBtn, #stopBtn, #playfield, .cardshell, #dummycardshell {
  margin: 2px; }

#howToBtn, #enterPlayersBtn, #field3x3Btn, #field4x4Btn, #field6x6Btn, #startBtn, #stopBtn, .playerStats {
  padding: 14px; }

#outershell {
  /*    outer frame, wrapper of board */
  width: 98vw;
  height: 98vh;
  margin-top: 10px;
  margin-bottom: 10px; }

#controlPanelWrapper {
  /*wrapper of  controlpanel*/ }

#buttonfield {
  padding: 5px;
  max-width: 380px;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap; }

#howToBtn {
  width: 48%;
  height: 25px; }

#enterPlayersBtn {
  width: 48%;
  height: 25px; }

#field3x3Btn, #field4x4Btn, #field6x6Btn {
  width: 31.33%;
  height: 25px; }

#startBtn {
  width: 48%;
  height: 25px; }

#stopBtn {
  width: 48%;
  height: 25px; }

.selectedSize {
  background-color: darkred; }

.playStatsWrapper {
  width: 380px;
  margin-top: 5px;
  margin-bottom: 5px; }

.playerStats {
  width: 50%;
  height: 25px; }

#playfield {
  /*@extend %vhalign;*/
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  transition: opacity .5s ease-in-out;
  width: 60vh;
  height: 60vh; }

.cardshell {
  position: relative;
  /*width: 50px;
  height: 50px;
  */
  width: 32%;
  height: 32%;
  transform-style: preserve-3d;
  transform: rotateY(0);
  transition: transform .6s ease-in-out; }

#dummycardshell {
  position: relative;
  width: 31.33%;
  height: 31.33%;
  transform-style: preserve-3d;
  transform: rotateY(0);
  transition: transform .6s ease-in-out; }

.card {
  position: absolute;
  width: 100%;
  height: 100%; }

.front {
  background-color: orange;
  border: 2px solid lightgreen;
  border-radius: 10px; }

.back {
  transform: rotateY(180deg) translateZ(1px);
  background-color: #34393F;
  border: 2px solid lightgreen;
  border-radius: 10px; }

.showMe {
  transform: rotateY(180deg); }

.display {
  opacity: 1; }

.invisible {
  opacity: 0; }

/*
.display {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.invisible {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}
*/
.headline {
  font-size: 1.8em;
  font-family: "Dosis", sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px; }

.modal-font {
  font-family: "Dosis", sans-serif;
  color: black; }

#buttonfield, #howToBtn, #enterPlayersBtn, #field3x3Btn, #field4x4Btn, #field6x6Btn, #startBtn, #stopBtn, .playerStats {
  font-family: "Dosis", sans-serif;
  font-size: 16px; }

.vhalign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.valign {
  display: flex;
  align-items: center; }

#controlPanelWrapper, #howToBtn, #enterPlayersBtn, #field3x3Btn, #field4x4Btn, #field6x6Btn, #startBtn, #stopBtn, .playStatsWrapper, .playerStats, #fieldWrapper, .front, .back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.testframe1 {
  border: 2px solid darkred;
  border-radius: 15px; }

.testframe2 {
  border: 2px solid grey;
  border-radius: 15px; }

.testframe3 {
  border: 2px solid lightblue;
  border-radius: 15px; }

body {
  background-color: #1f3d7a;
  color: beige; }

/*# sourceMappingURL=main.css.map */
